extends ../index.pug

block content
  h1 Transactions
  a.h4(href='/transactions/create') New
  br
  br
  if (errors)
    .alert.alert-danger(role= 'alert')= errors
  .table-responsive
    table.table
      thead.thead-light
        tr
          th(scope='col') Transaction's ID
          th(scope='col') User's name
          th(scope='col') Book
          th(scope='col') isComplete
          th(scope='col') Custom
      tbody
        each transaction in transactions
          tr      
            td #{transaction.transId}
            td #{transaction.name}
            td #{transaction.title}
            td #{transaction.isComplete}
            td
              if transaction.isComplete
                button.btn.btn-success(diabled) Complete
              else
                form(action='/transactions/' + transaction.transId + '/complete', method='GET')
                  button.btn.btn-danger(type='submit') Complete